[defaults]
host_key_checking = False
inventory=inv.yml
interpreter_python=auto_silent
localhost_warning=false
deprecation_warnings = False
#log_path=/home/ec2-user/ansible-dev/ansible.log
roles_path=/home/ec2-user/ansible-dev/roles